.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 750px;
    margin: auto;
    text-align: center;
    background-color: white;
  }
  
  .title {
    color: rgb(128, 128, 128);
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(27, 154, 193);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 12px;
    color: rgb(66, 107, 128);
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }