
body {
  background-color: lightblue;
}
h1 {
   font-family: 'Sacramento';
  
   color: #66BFBF;
}

 h2{

  color: #66BFBF;
font-family: 'Montserrat';
 
  
 }

 h3{

 color:  #11999E ;

 }

 hr{
  
  color:  #EAF6F6;

 }